@if (breadcrumbs().length > 0) {
  <nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ol class="breadcrumb-list">
      <li class="breadcrumb-item">
        <a routerLink="/home" class="breadcrumb-link">
          <span class="home-icon">🏠</span>
          <span>Inicio</span>
        </a>
      </li>
      
      @for (crumb of breadcrumbs(); track crumb.url; let last = $last) {
        <li class="breadcrumb-item" [class.active]="last">
          <span class="breadcrumb-separator">›</span>
          @if (last) {
            <span class="breadcrumb-current">&#123;&#123; crumb.label &#125;&#125;</span>
          } @else {
            <a [routerLink]="crumb.url" class="breadcrumb-link">
              &#123;&#123; crumb.label &#125;&#125;
            </a>
          }
        </li>
      }
    </ol>
  </nav>
}
