/**
 * Landing Page - Componente Angular
 * 
 * NOTA IMPORTANTE (DIW):
 * Los estilos de este componente se encuentran en la arquitectura ITCSS global:
 * - Layout (Grid/Flexbox): src/styles/04-layout/_grid-landingpage.scss
 * - Componente visual: src/styles/components/_landing.scss
 * 
 * Esto cumple con el requisito: "No se permite codigo CSS en los componentes de Angular"
 */